#root {
  background-color: #94647e;
  background-image: linear-gradient(201deg, #94647e 0%, #87593c 50%, #203a4c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  backdrop-filter: blur(10px);
  min-width: 300px;
  width: 500px;
  background: rgba(0, 0, 0, 0.1);
  margin: 200px 20px;
  padding: 20px;
  box-shadow: 0 0 3px #333;
  border-radius: 10px;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-bar {
  padding: 10px 0;
  display: flex;
}

.top-bar_input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;

}

.top-bar_input::selection {
  background: rgba(65, 50, 86, 0.5);
  color: white;
}

.todos-list {
  overflow: auto;
  margin-bottom: 10px;
}

.todos-list::-webkit-scrollbar {
  display: none;
}

.todo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: navajowhite;
  margin: 10px 0;
}

.todo_checkbox {
  margin: 0 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.todo_cross {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px;
  background: brown;
  border-radius: 50%;
  cursor: pointer;
}

.todo-text_checked {
  text-decoration: line-through;
}

.footer {
  background: rgba(24, 24, 24, 0.3);
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 3px #333;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: auto;
  flex: 0 0 fit-content;
}

.footer_label {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.footer_label:hover {
  background: rgba(255, 255, 255, 0.2);
}

.footer input {
  display: none;
}

.footer input:checked + .footer_label {
  background: seagreen;
}